<div class="row mb-4">
    <div class="col-md-3">
    <img class="avatar img-fluid" src="https://media.licdn.com/dms/image/v2/D4E03AQGoWbzXEJ2f9g/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1731488613037?e=1736985600&v=beta&t=BIbBH6sRZZQPPKwJmJgFQ7JjEwu0lHCZmEmM4hU9H28" alt="Avatar">
    </div>
    <div class="col-md-9">
    <!-- Updated with classes -->
    <h1 class="name">Besart Sulejmani</h1>
    <h2 class="subtitle">DevOps, Infrastructure as Code, Platform Engineer, Team Lead</h2>
    <p class="button-container">
        <a class="button" href="mailto:besartsulejmani@gmail.com">Email mij</a>
        <a class="button" href="https://www.linkedin.com/in/besart-sulejmani-0b92aa25/">LinkedIn</a>
        <a class="button" href="https://github.com/BesartSulejmani">GitHub</a>
    </p>
    </div>
</div>