<div class="section-divider"><span>Opleiding</span></div>

<section>
    <div class="row">
        <div class="col-md-6">
            <div class="card p-4 mb-4">
                <div class="d-flex align-items-center">
                    <img class="opleiding-img me-3" src="https://media.licdn.com/dms/image/v2/C4D0BAQFYEOygIXpNyA/company-logo_100_100/company-logo_100_100/0/1631370315695?e=1740009600&v=beta&t=vjDlwF965H6wLr9MuFcFZY60qBmjSdwXj2g_on_aNmo" alt="Gilde Opleidingen Logo" width="70">
                    <div>
                        <h5 class="mb-1">Gilde Opleidingen</h5>
                        <p class="mb-1"><strong>MBO-4</strong>, Information Technology</p>
                        <p class="text-muted mb-0">Sep 2011 - Jun 2013</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF: opleiding item -->

        <div class="col-md-6">
            <div class="card p-4 mb-4">
                <div class="d-flex align-items-center">
                    <img class="opleiding-img me-3" src="https://media.licdn.com/dms/image/v2/C4D0BAQFYEOygIXpNyA/company-logo_100_100/company-logo_100_100/0/1631370315695?e=1740009600&v=beta&t=vjDlwF965H6wLr9MuFcFZY60qBmjSdwXj2g_on_aNmo" alt="Gilde Opleidingen Logo" width="70">
                    <div>
                        <h5 class="mb-1">Gilde Opleidingen</h5>
                        <p class="mb-1"><strong>MBO-3</strong>, Information Technology</p>
                        <p class="text-muted mb-0">Aug 2010 - Jul 2011</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF: opleiding item -->

        <div class="col-md-6">
            <div class="card p-4 mb-4">
                <div class="d-flex align-items-center">
                    <img class="opleiding-img me-3" src="https://www.nationaleonderwijsgids.nl/uploads/article/article_image/14918/normal_ROC_Eindhoven_logo.jpg" alt="ROC Eindhoven Logo" width="70">
                    <div>
                        <h5 class="mb-1">ROC Eindhoven</h5>
                        <p class="mb-1"><strong>MBO-3</strong>, Information Technology</p>
                        <p class="text-muted mb-0">Aug 2009 - Jul 2010</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF: opleiding item -->
    </div>
</section>