<div class="section-divider"><span>Werkervaring</span></div>
    
<section id="werkervaring">      
    <!-- Werkervaring Lead Raw -->
    <article class="row mb-4">
        <div class="col-12 col-md-9">
        <div class="d-flex align-items-center mb-3">
            <img class="company me-3" src="https://media.licdn.com/dms/image/v2/C4E0BAQFckzQztY5bpQ/company-logo_100_100/company-logo_100_100/0/1656423230208/rawworks_logo?e=1740009600&v=beta&t=SZ8Zq3VhdMKH77kkrHD9n2nvNOcOCNQ6dY1oON0njvw" alt="RawWorks Logo" width="70">
            <div>
            <h4 class="werkervaring-heading">Lead Platform Engineering en DevOps Consultant bij RawWorks</h4>
            <span class="text-muted">Apr 2024 - Nu</span><br>
            <span class="text-muted">Utrecht, Nederland</span>
            </div>
        </div>
        <div class="work-description">
            <p>Verantwoordelijk voor het leiderschap en de strategische inrichting van het Platform Engineering team:</p>
            <ul>
            <li><strong>Eerste aanspreekpunt en autoriteit</strong> voor diepgaande vakinhoudelijke vraagstukken binnen Platform Engineering, waarbij expertise wordt ingezet om richting en oplossingen te bieden.</li>
            <li><strong>Inhoudelijke begeleiding en coaching</strong> van engineers om hun technische vaardigheden te versterken en te ontwikkelen tot gekwalificeerde specialisten.</li>
            <li><strong>Inhoudelijke sollicitatiegesprekken</strong> voeren en het adviseren over geschiktheid van kandidaten bij besluitvorming over aanbod.</li>
            <li><strong>Ontwikkelen en stimuleren van een robuuste DevOps-cultuur</strong> gebaseerd op het CALMS-framework, die samenwerking, continuïteit en wendbaarheid binnen het team en de bredere organisatie bevordert.</li>
            <li><strong>Proactief inspelen op marktontwikkelingen</strong> door kansen te signaleren en deze om te zetten in strategische initiatieven die aansluiten bij de missie en visie van de organisatie.</li>
            <li><strong>Communiceren en doorvoeren van strategische en organisatorische veranderingen</strong> waarbij het team actief wordt meegenomen en betrokken bij de koers van de organisatie.</li>
            </ul>
            <p>Projecten:</p>
            <ul>
            <li><strong>Trainingen Terraform</strong>  Intern collega’s trainen en klanten trainen ter voorbereiding op het Terraform Associate examen. Al meer dan 100 mensen getraind en een gemiddelde score van 8,6/10 met meer dan de helft daarvan gecertificeerd voor het Terraform Associate examen.</li>
            <li><strong>ToeleveringOnline</strong> Herstructureren Azure Kubernetes Clusters en volledig geautomatiseerd middels Bitbucket pipelines en Pulumi (IaC). Verbeteringen doorgevoerd voor het platform waardoor de developers met beperkte infra kennis, de omgeving zelf kunnen beheren. Daarnaast de omgeving op gebied van security opnieuw ingericht zodat deze productieklaar is en de applicaties publiekelijk toegankelijk zijn zonder de daarbij behorende risico's.</li>
            <li><strong>OneDeploy</strong> Volledig geautomatiseerde cloud native deployments in Azure met behulp van Azure DevOps Pipelines, Terraform en Ansible. Best practices ingezet voor de Terraform configuraties. Security checks ingezet in het CI process om mogelijke risico’s op te vangen alvorens het uitrollen van de omgeving.</li>
            <li><strong>Corteza</strong> Containerized applicatie geatuomatiseerd met behulp van Azure DevOps Pipelines en Terraform. Multi-container applicatie opgezet in Azure Container Instances met een Application Gateway ervoor. CI/CD Pipelines opgezet waarbij wijzigingen aan de app en/of infrastructuur, geautomatiseerd en in kleine iteraties uitgerold kunnen worden.</li>
            </ul>
        </div>
        </div>
        <div class="col-12 col-md-3">
        <div class="d-flex flex-wrap">
            <span class="label mb-2 me-2">Mentorship</span>
            <span class="label mb-2 me-2">Leader</span>
            <span class="label mb-2 me-2">Coach</span>
            <span class="label mb-2 me-2">Motivator</span>
            <span class="label mb-2 me-2">People management</span>
            <span class="label mb-2 me-2">Kubernetes</span>
            <span class="label mb-2 me-2">Docker</span>
            <span class="label mb-2 me-2">Helm</span>
            <span class="label mb-2 me-2">Azure DevOps</span>
            <span class="label mb-2 me-2">Python</span>
            <span class="label mb-2 me-2">Django</span>
            <span class="label mb-2 me-2">PostgreSQL</span>
            <span class="label mb-2 me-2">Bash</span>
            <span class="label mb-2 me-2">Terraform</span>
            <span class="label mb-2 me-2">Pulumi</span>
            <span class="label mb-2 me-2">Ansible</span>
            <span class="label mb-2 me-2">Azure Kubernetes Service</span>
            <span class="label mb-2 me-2">Agile Scrum</span>
            <span class="label mb-2 me-2">Azure IaaS</span>
        </div>
        </div>
    </article>
    <!-- END OF: Werkervaring Lead Raw -->
    
    <hr>

    <!-- Werkervaring RWS -->
    <article class="row mb-4">
        <div class="col-12 col-md-9">
            <div class="d-flex align-items-center mb-3">
            <img class="company me-3" src="https://media.licdn.com/dms/image/v2/C4D0BAQGhKYCGmWAZCg/company-logo_100_100/company-logo_100_100/0/1630511270041/rijkswaterstaat_logo?e=1740009600&v=beta&t=uomBagbNOHGh_F1kA3U2QWUgIjQysQOuwrcUJ8edivo" alt="RWS Logo" width="70">
            <div>
                <h4 class="werkervaring-heading">DevOps Engineer bij Rijkswaterstaat</h4>
                <span class="text-muted">Jun 2022 - Dec 2024 · 2 jr 6 mnd</span><br>
                <span class="text-muted">Utrecht, Nederland</span>
            </div>
            </div>
            <div class="work-description">
            <p>Als DevOps Consultant werkte ik nauw samen met de architect die de visie en strategie ontwikkelde voor de transitie van het ministerie naar een data-gedreven organisatie. Mijn rol was erssentieel om deze visie werkelijkheid te maken door de ontwikkeling en automatisering van een flexibel en schaalbaar, cloud-native data platform in de cloud, met gebruik van open-source technologie. Ik richtte me op het automatiseren van de deployment, schaalbaarheid en het beheer van het platform om maximale efficiëntie en betrouwbaarheid te garanderen. </p>
            <p>Door mijn werk kon het platform soepel ondersteuning bieden gedurende het hele softwareontwikkelproces. Deze aanpak maakte het platform niet alleen gemakkelijk aanpasbaar, maar leverde ook een aanzienlijke kostenbesparing op, wat de waarde van een data-gedreven werkwijze goed liet zien.</p>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="d-flex flex-wrap">
            <span class="label mb-2 me-2">Kubernetes</span>
            <span class="label mb-2 me-2">Docker</span>
            <span class="label mb-2 me-2">Helm</span>
            <span class="label mb-2 me-2">Concourse CI (CI/CD)</span>
            <span class="label mb-2 me-2">Harbor image registry</span>
            <span class="label mb-2 me-2">Traefik ingress controller</span>
            <span class="label mb-2 me-2">Keycloak</span>
            <span class="label mb-2 me-2">OpenLDAP</span>
            <span class="label mb-2 me-2">Apache Airflow</span>
            <span class="label mb-2 me-2">Apache Spark</span>
            <span class="label mb-2 me-2">Python</span>
            <span class="label mb-2 me-2">Bash</span>
            <span class="label mb-2 me-2">Terraform</span>
            <span class="label mb-2 me-2">Azure DevOps</span>
            <span class="label mb-2 me-2">Azure Kubernetes Service</span>
            <span class="label mb-2 me-2">Agile Scrum</span>
            </div>
        </div>
        </article>
        <!-- END OF: Werkervaring RWS -->
        
        <hr>

        <!-- Werkervaring Werkervaring Gemeente Amsterdam -->
    <article class="row mb-4">
        <div class="col-12 col-md-9">
            <div class="d-flex align-items-center mb-3">
            <img class="company me-3" src="https://media.licdn.com/dms/image/v2/D4E0BAQGS2CDs1b4ikg/company-logo_100_100/company-logo_100_100/0/1722860644360/gemeente_amsterdam_logo?e=1740009600&v=beta&t=6F3Ksc_1K0MQJ6wDwSY1OdNUa50ogtHG1nzjr2BATh4" alt="Gemeente Amsterdam Logo" width="70">
            <div>
                <h4 class="werkervaring-heading">DevOps Engineer bij Gemeente Amsterdam</h4>
                <span class="text-muted">Dec 2022 - Apr 2024 · 1 jr 5 mnd</span><br>
                <span class="text-muted">Utrecht, Nederland</span>
            </div>
            </div>
            <div class="work-description">
            <p><strong>Implementatie van Nieuw Informatie Systeem voor Erfpachten en Uitgiften (Common Ground Model)</strong></p>
            <p>Verantwoordelijk voor:</p>
            <ul>
            <li><strong>CI/CD Beheer en Optimalisatie:</strong> Verantwoordelijk voor de volledige opzet, configuratie en het onderhoud van CI/CD-pipelines in Azure DevOps, waarmee gestroomlijnde ontwikkel- en releaseprocessen zijn gerealiseerd die voldoen aan de hoge kwaliteitsstandaarden van de gemeente.</li>
            <li><strong>Security en Privacy Compliance:</strong> Ontwikkelde en beheerde de acceptatie- en productieomgevingen die moesten voldoen aan strenge security- en privacyrichtlijnen. Dit werd gevalideerd door peerreviews van het Cloud Platform-team.</li>
            <li><strong>Infrastructuuroptimalisatie en Modularisatie:</strong> Transformeren van ARM-templates naar Azure Bicep-modules en op maat gemaakte Bicep-modules ontwerpen.</li>
            <li><strong>Containerbeheer:</strong> Build en deploy docker images in Azure web apps. Opslag in Azure Container Registry.</li>
            <li><strong>Identity and Access Management (IAM):</strong> Beheren en inrichten Keycloak.</li>
            <li><strong>Agile samenwerking en Gitflow:</strong> Toepassen van Git branching- en Gitflow-strategieën. Ook de gitflow geautomatiseerd voor het automatisch mergen van </li>
            </ul>
            <p><strong>Open-source bijdrage:</strong> Actief bijgedragen aan de ontwikkeling van de open-source API (objecttypes-api) van Maykin Media. Deze API, beschikbaar op GitHub, ondersteunt de automatisering van API-implementaties voor gemeenten en overheidsinstellingen en draagt bij aan efficiëntere gegevensuitwisseling en standaardisatie.</p>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="d-flex flex-wrap">
            <span class="label mb-2 me-2">Azure Bicep</span>
            <span class="label mb-2 me-2">Docker</span>
            <span class="label mb-2 me-2">Azure DevOps</span>
            <span class="label mb-2 me-2">Azure IaaS</span>
            <span class="label mb-2 me-2">Keycloak</span>
            <span class="label mb-2 me-2">Python</span>
            <span class="label mb-2 me-2">Django</span>
            <span class="label mb-2 me-2">PostgreSQL</span>
            <span class="label mb-2 me-2">Bash</span>
            <span class="label mb-2 me-2">AzureCLI</span>
            <span class="label mb-2 me-2">Powershell</span>
            <span class="label mb-2 me-2">Azure Kubernetes Service</span>
            <span class="label mb-2 me-2">Agile Scrum</span>
            <span class="label mb-2 me-2">Agile SAFE</span>
            </div>
        </div>
        </article>
        <!-- END OF: Werkervaring Gemeente Amsterdam -->
    
        <hr>

    <!-- Werkervaring LINKIT-->
    <article class="row mb-4">
        <div class="col-12 col-md-9">
        <div class="d-flex align-items-center mb-3">
            <img class="company me-3" src="https://media.licdn.com/dms/image/v2/D4E0BAQGIDl7GlXh-cA/company-logo_100_100/company-logo_100_100/0/1703850666303/linkit_logo?e=1740009600&v=beta&t=Qhd-cV8iQOI0m9k1nOEiF_jaGJD5Q7OtXhbwOOrWx80" alt="LINKIT Logo" width="70">
            <div>
            <h4 class="werkervaring-heading">DevOps Engineer bij LINKIT</h4>
            <span class="text-muted">Mar 2021 - Mar 2022 · 1 jr 1 mnd</span><br>
            <span class="text-muted">Utrecht, Nederland</span>
            </div>
        </div>
        <div class="work-description">
            <p><strong>Projecten:</strong></p>
            <p><strong>Project Hive</strong> - Volledig geautomatiseerde SaaS-oplossing voor het beheren, monitoren en automatiseren van IoT-apparaten, gehost in de cloud. Zie <a class="small-button" href="https://hive.linkit.nl/">Hive</a></p>
            <p>Mijn verantwoordelijkheid was de end-to-end inrichting van het Azure platform met bijbehorende services om de applicatie te hosten. Inrichting van Azure DevOps met gebruik van alle services. Opzet van de infrastructuur in Terraform en Azure Pipelines. 
            Azure Artifacts werden gebruikt voor het opslaan van onze Terraform modules zodat we hierin verschillende packages konden inzetten per klantbehoefte. </p>
            <p><strong>Traineeship Cloud/Automation Engineer:</strong></p>
            <p>In dit traineeship worden junior talenten opgeleid tot volwaardige Cloud/Automation engineers. Ik was verantwoordelijk voro het begeleiden van de trainees in hun praktijkontwikkeling en hen trainen in het gebruik van Terraform, Azure DevOps en het toepassen van de DevOps mindset en werkwijze.</p>
        </div>
        </div>
        <div class="col-12 col-md-3">
        <div class="d-flex flex-wrap">
            <span class="label mb-2 me-2">Terraform</span>
            <span class="label mb-2 me-2">Docker</span>
            <span class="label mb-2 me-2">.NET</span>
            <span class="label mb-2 me-2">Azure DevOps</span>
            <span class="label mb-2 me-2">CI/CD</span>
            <span class="label mb-2 me-2">Bash</span>
            <span class="label mb-2 me-2">AzureCLI</span>
            <span class="label mb-2 me-2">Azure IaaS</span>
            <span class="label mb-2 me-2">Git</span>
            <span class="label mb-2 me-2">Agile Scrum</span>
        </div>
        </div>
    </article>
    <!-- END OF: Werkervaring LINKIT -->
    </section>